<footer class='w-full text-center p-6 pin-b'>
    <span class="text-sm">
        &copy; <a href="https://old.st/" class="text-blue-900">Old St Bookings 2020.</a> All rights reserved. 
        — Developed by <a href="https://www.linkedin.com/in/migsladisla/" target="_blank" class="text-blue-500">Juan Miguel Ladisla</a>
    </span>
</footer>