<div class="text-center mt-12">
    <h1 class="text-6xl text-blue-900">Welcome To Old St. Bookings</h1>
    <p class="uppercase text-gray-900 block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
        Ut enim ad minim veniam, quis nostrud exercitation ullamco.<br />
        Duis aute irure dolor in reprehenderit in voluptate velit esse. <br />
        Excepteur sint occaecat cupidatat non proident.
    </p>
    <button class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full mt-6">
        <a href="/register">Register here</a>
    </button>
</div>
<div class="mt-12">
    <img 
        id="index-page-image" 
        class="mx-auto"
        src="/images/index-svg-image.svg" 
        alt="Guy-Booking">
</div>